/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #ff5733;
    color: white;
    padding: 20px;
}

/* Publicidad */
.publicidad img {
    width: 500%;
    max-width: 100px;
    margin-top: 20px;
}

/* Sección de paquetes */
.paquetes {
    padding: 20px;
}

.destino {
    display: inline-block;
    background: white;
    padding: 50px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.destino img {
    width: 400px;
    height: 450px;
    border-radius: 5px;
}

button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c70039;
}

/* Carrito de compras */
.carrito {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Botón eliminar */
.btn-eliminar {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.btn-eliminar:hover {
    background-color: darkred;
}

/* WhatsApp */
.whatsapp {
    margin-top: 20px;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.whatsapp-btn img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
